
modules = ["go-1.21:v2-20231201-3b22c78"]
run = "go run "

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "go run "]
ignorePorts = false
deploymentTarget = "gce"
